<div class="page">
  <div class="player">
    {{hod}}
  </div>
  <div class="play">
    <div id="game">
      <div
        *ngFor="let item of field; let i = index"
        (click)="check(i)"
        class="box"
        [ngClass]="{'winner': winnerArray.includes(i)}"
      >
        {{item}}
      </div>
    </div>

    <div class="button">
      <button
        mat-flat-button
        color="primary"
        (click)="startGame()"
      >Начать игру
      </button>
    </div>
  </div>
  <div class="message">{{message}}</div>
</div>
