#game {
  background-color: #2838af;
  width: 300px;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
}

.box {
  height: 100px;
  width: 100px;
  float: left;
  border: 1px solid white;
  box-sizing: border-box;
  line-height: normal;
  text-align: center;
  font-size: 80px;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
}

.button {
  width: 100%;
  height: 15%;
  margin-left: 30%;
  margin-top: 20px;
  margin-bottom: 30px;
}

.page {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: rgba(227,227,227,0.9);
  align-items: center;
  justify-content: center;
}

.play {
  display: flex;
  flex-direction: column;
  background-color: rgba(227,227,227,0.9);
}

.player, .message {
  height: 15%;
  display: flex;
  justify-content: center;
  font-size: larger;
  font-family: Verdana;
  margin-top: 20px;
  margin-bottom: 30px;
  padding-top: 30px;
}

.winner {
  color: crimson;
}
